@font-face {
  font-family: 'Mreg';
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mbold';
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  height: auto;
  color: #000;
  font-family: "Mreg", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
}

ol, ul {
  list-style: none;
  font-size: 18px;
}

div, span, article, nav, section, main, header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid red;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-size: 28px;
  width: 100%;
  font-family: "Mbold", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

div.title {
  text-transform: uppercase;
  font-family: "Mbold", sans-serif;
  font-size: 24px;
  width: 100%;
  line-height: 28px;
}

.header-nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #daa3ac;
}

.header-nav-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-bottom ul li a {
  padding: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-nav-bottom ul li a:hover {
  background-color: #508465;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-nav-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 5px 0;
}

.header-nav-middle-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.header-nav-middle-right {
  margin-top: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.header-nav-middle-right form {
  position: relative;
}

.header-nav-middle-right form input[type="submit"] {
  position: absolute;
  right: 0px;
  border-radius: 0 5px 5px 0;
  border: 0;
  height: 100%;
  width: 37px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  background-image: url(../img/icons/search.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav-middle-right form input[type="submit"]:hover {
  background-color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-nav-middle-right form input[type="text"] {
  padding: 5px 10px;
  border-radius: 5px;
  width: 300px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-nav-middle-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header-nav-middle-left div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
  padding-top: 20px;
}

.header-nav-middle-left a {
  position: relative;
  padding-left: 40px;
  font-size: 28px;
  color: #508465;
  font-weight: 600;
}

.header-nav-middle-left a:after {
  position: absolute;
  content: '';
  height: 35px;
  width: 36px;
  left: 0;
  top: -10px;
  background-image: url(../img/icons/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav-top {
  background-color: #508465;
}

.header-nav-top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-top nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-top nav ul li a {
  color: #fff;
  padding: 15px 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 14px;
}

.header-nav-top nav ul li a:hover {
  color: #000000;
  background-color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-nav-top nav ul li.has-children {
  position: relative;
}

.header-nav-top nav ul li.has-children a {
  padding-right: 20px;
  position: relative;
}

.header-nav-top nav ul li.has-children a:hover:after {
  background-image: url(../img/icons/drop-down-arrow.svg);
}

.header-nav-top nav ul li.has-children a:after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/drop-down-arrow-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 7px;
  width: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
}

.header-nav-top nav ul li.has-children ul {
  position: absolute;
  left: 0;
  top: 48px;
  display: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.header-nav-top nav ul li.has-children ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-nav-top nav ul li.has-children ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #000;
  padding: 10px;
  min-width: 120px;
  font-size: 14px;
}

.header-nav-top nav ul li.has-children ul li a:after {
  display: none;
}

.header-nav-top nav ul li.has-children ul li a:hover {
  background-color: #508465;
  color: #fff;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 50px 0;
}

.new div.title {
  margin-bottom: 10px;
}

.new-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
}

.new-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-left-wrap .slick-arrow {
  position: absolute;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.new-left-wrap .slick-arrow:focus {
  outline: none;
}

.new-left-wrap .slick-prev {
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 1px center;
}

.new-left-wrap .slick-next {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 4px center;
}

.new-left-wrap .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-left-wrap .slick-dots li.slick-active button {
  background-color: #508465;
}

.new-left-wrap .slick-dots li button {
  cursor: pointer;
  height: 5px;
  width: 30px;
  margin: 0 10px;
  border-radius: 2px;
  display: inline-block;
  background-color: #daa3ac;
  font-size: 0;
  border: 0;
}

.sale {
  padding: 20px 0 50px 0;
}

.sale-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale-slider .slick-arrow {
  position: absolute;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sale-slider .slick-arrow:focus {
  outline: none;
}

.sale-slider .slick-prev {
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 1px center;
}

.sale-slider .slick-next {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 4px center;
}

.sale-slider a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale-slider a h3 {
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-top: 3px;
}

.sale div.title {
  text-align: center;
}

.features {
  background-color: #f7f7f9;
  padding: 45px 0;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.features-wrap-item img {
  width: 100%;
  max-width: 90px;
  border-radius: 50%;
}

.features-wrap-item p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.greeds {
  padding: 50px 0;
}

.greeds div.title {
  text-align: center;
}

.greeds-wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeds-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
}

.greeds-wrap-item img {
  width: 100%;
}

.greeds-wrap-item h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 10px 0;
}

.greeds-wrap-item p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.greeds-wrap-item-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.greeds-wrap-item-like span.greeds-cost {
  font-family: "Mbold", sans-serif;
  font-size: 24px;
  color: #daa3ac;
}

.greeds-wrap-item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #daa3ac;
  padding: 10px;
}

.greeds-wrap-item-cart div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Mbold", sans-serif;
  cursor: pointer;
}

.greeds-wrap-item-cart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.greeds-wrap-item-cart span img {
  width: auto;
}

.greeds-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeds-wrap .slick-arrow {
  position: absolute;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.greeds-wrap .slick-arrow:focus {
  outline: none;
}

.greeds-wrap .slick-prev {
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 1px center;
}

.greeds-wrap .slick-next {
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 4px center;
}

.heets {
  padding-top: 0;
}

.blog div.title {
  text-align: center;
  margin-bottom: 30px;
}

.blog-wrap {
  background: #f7f7f9;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-wrap a.button2 {
  background-color: #508465;
  color: #fff;
  padding: 15px 45px;
  margin: 50px auto 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog-wrap a.button2:hover {
  background-color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog-wrap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-wrap-wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.blog-wrap-wrapper-item p {
  margin: 10px 0;
}

.blog-wrap-wrapper-item span {
  margin: 10px 0;
}

.blog-wrap-wrapper-item img {
  width: 100%;
}

.blog-wrap-wrapper-item a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #daa3ac;
  padding: 10px 20px;
  color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog-wrap-wrapper-item a.button:hover {
  background-color: #daa3ac;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.news {
  padding: 50px 0;
}

.news div.title {
  text-align: center;
  margin-bottom: 30px;
}

.news-wrap {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-wrap a.button2 {
  background-color: #508465;
  color: #fff;
  padding: 15px 45px;
  margin: 50px auto 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.news-wrap a.button2:hover {
  background-color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.news-wrap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap-wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.news-wrap-wrapper-item p {
  margin: 10px 0;
}

.news-wrap-wrapper-item span {
  margin: 10px 0;
}

.news-wrap-wrapper-item img {
  width: 100%;
}

.news-wrap-wrapper-item a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #daa3ac;
  padding: 10px 20px;
  color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.news-wrap-wrapper-item a.button:hover {
  background-color: #daa3ac;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.chebox div.title {
  text-align: center;
  margin-bottom: 50px;
}

.chebox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chebox-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.chebox-wrap-left iframe {
  width: 100%;
}

.chebox-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chebox-wrap-right p {
  margin-bottom: 20px;
}

.sponsor {
  margin-top: 60px;
}

.sponsor img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sponsor .slick-arrow {
  position: absolute;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sponsor .slick-arrow:focus {
  outline: none;
}

.sponsor .slick-prev {
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 1px center;
}

.sponsor .slick-next {
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  background-image: url("../img/icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 4px center;
}

.footer {
  padding: 50px 0;
  margin-top: 50px;
  background-color: #eff0f0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap-left-top ul li {
  padding: 5px 0;
}

.footer-wrap-left-top ul li a {
  font-size: 14px;
  color: #000;
}

.footer-wrap-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap-left-bottom img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
}

.footer-wrap-left-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
}

.footer-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrap-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-wrap-right-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap-right-bottom div a img {
  width: 40px;
  margin: 10px;
}

.footer-wrap-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-wrap-right-top a {
  margin: 5px;
  color: #508465;
  font-family: "Mbold", sans-serif;
  font-size: 16px;
}

.footer-wrap-right-top button {
  margin: 20px 0;
  background-color: #daa3ac;
  border: 0;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.footer-wrap-right-top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap-right-top-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap-right-top-social a img {
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
}

.call-category {
  display: none;
}

.page-blog {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-blog div.title {
  margin-bottom: 30px;
}

.page-blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.page-blog-item p {
  margin: 10px 0;
}

.page-blog-item span {
  margin: 10px 0;
}

.page-blog-item img {
  width: 100%;
}

.page-blog-item a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #daa3ac;
  padding: 10px 20px;
  color: #daa3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.page-blog-item a.button:hover {
  background-color: #daa3ac;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.wp-pagenavi a, .wp-pagenavi span.current {
  padding: 5px 7px;
  border: 1px solid #508465;
  margin: 0 2px;
  color: #508465;
  min-height: 30px;
  min-width: 30px;
}

.wp-pagenavi span.extend {
  padding: 5px 7px;
  background-color: #daa3ac;
  border: 1px solid #508465;
  margin: 0 2px;
  min-height: 30px;
  min-width: 30px;
  min-height: 30px;
  min-width: 30px;
}

.wp-pagenavi span.current {
  background-color: #508465;
  color: #fff;
}

@media (max-width: 1199px) {
  .header-nav-bottom nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-nav-bottom nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-right {
    max-width: 450px;
  }
  .new-right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .new-right a img {
    width: 100%;
  }
  .new-left {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .new {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new-left {
    max-width: 100%;
  }
  .new-left div.title {
    text-align: center;
  }
  .new-left-wrap div.slick-track a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-right {
    max-width: 100%;
    width: 100%;
  }
  .new-right div.title {
    text-align: center;
    margin-top: 40px;
  }
  .features-wrap-item p {
    font-size: 12px;
  }
  .blog-wrap-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-wrap-wrapper-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-top: 20px;
  }
  .news-wrap-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news-wrap-wrapper-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-top: 20px;
  }
  .chebox-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .chebox-wrap-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .chebox-wrap-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .page-blog-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .call-category {
    display: block;
  }
  .sale-slider button.slick-prev {
    left: -20px;
  }
  .sale-slider button.slick-next {
    right: -20px;
  }
  .greeds-wrap button.slick-prev {
    left: -25px;
  }
  .greeds-wrap button.slick-next {
    right: -25px;
  }
  .new-left-wrap div.slick-track a {
    padding: 0 20px;
  }
  .new-left-wrap div.slick-track a img {
    width: 100%;
  }
  .header-nav-bottom {
    min-height: 80px;
    background-color: #daa3ac;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav-bottom div.button {
    background-color: #508465;
    border-radius: 13px;
    padding: 15px 60px;
    color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(80, 132, 101, 0.5);
            box-shadow: 0 0 15px rgba(80, 132, 101, 0.5);
    margin: 20px 0;
  }
  .header-nav-bottom nav {
    display: none;
    margin-bottom: 20px;
    width: 100%;
  }
  .header-nav-bottom nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav-bottom nav ul li {
    width: 100%;
    border: 1px solid #508465;
  }
  .header-nav-bottom nav ul li a {
    width: 100%;
  }
  .header-nav-bottom nav ul li:first-child {
    border-top: 2px solid #508465;
  }
  .header-nav-bottom nav ul li:last-child {
    border-bottom: 2px solid #508465;
  }
  .header-nav-top nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-nav-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-nav-middle-left {
    margin-bottom: 30px;
  }
  .header-nav-middle-left div {
    font-size: 14px;
  }
  .header-nav-middle-left a {
    font-size: 18px;
  }
  .header-nav-middle-left a:after {
    height: 25px;
    width: 26px;
    top: -4px;
    left: 10px;
  }
  .header-nav-middle-right {
    margin-top: 0px;
  }
  .header-nav-middle-center {
    margin: 20px 0;
  }
  .header-nav-middle-center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .header-nav-middle-center a img {
    width: 100%;
  }
}

@media (max-width: 578px) {
  .page-blog div.title {
    text-align: center;
  }
  .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  div.wp-pagenavi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.wp-pagenavi a {
    padding: 3px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.wp-pagenavi span {
    padding: 2px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.footer-wrap-right-top-social a img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 40px;
    max-width: 40px;
  }
  .header-nav-top nav ul li.has-children ul li a {
    min-width: 250px;
  }
  .header-nav-top nav ul li a {
    font-size: 14px;
  }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-wrap-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer-wrap-right-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap-right-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer-wrap-left-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap-left-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer-wrap-left-bottom div {
    margin: 15px 0;
  }
  .features {
    padding-bottom: 10px;
  }
  .features-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-wrap-item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    height: 160px;
  }
  .new {
    padding-top: 30px;
  }
  .new-right {
    padding: 20px;
  }
  .greeds-wrap button.slick-prev {
    left: 10px;
  }
  .greeds-wrap button.slick-next {
    right: 10px;
  }
  .sale-slider button.slick-prev {
    left: 0;
  }
  .sale-slider button.slick-next {
    right: 0;
  }
  .sale-slider div.slick-list div.slick-track a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-wrap-wrapper-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news-wrap-wrapper-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 440px) {
  .page-blog-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 380px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 360px) {
  .header-nav-top nav ul li a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */