@media (max-width: 992px)
  .header-nav-middle-right
    min-height: auto
    div.cart
      margin-top: 25px
  .header
    &-nav
      &-bottom
        min-height: 80px
        background-color: $light
        flex-direction: column
        div.button
          background-color: $main
          border-radius: 13px
          padding: 15px 60px
          color: #fff
          box-shadow: 0 0 15px rgba($main, 0.5)
          margin: 20px 0
        nav
          display: none
          width: 100%
          ul
            flex-direction: column
            li
              width: 100%
              border: 1px solid $main
              a
                width: 100%
            li:first-child
              border-top: 2px solid $main
            li:last-child
              border-bottom: 2px solid $main
      &-top
        nav
          padding-bottom: 0!important
          div.login
            display: flex
            flex-wrap: wrap
            a
              display: flex
              flex-basis: 50%
              margin-bottom: 20px
          ul
            justify-content: center
      &-middle
        flex-direction: column-reverse
        min-height: 300px
        justify-content: flex-start
        &-left
          margin-bottom: 30px
          div
            font-size: 14px
          a
            font-size: 18px
            &:after
              height: 25px
              width: 26px
              top: -4px
              left: 10px
        &-right
          margin-top: 0px
        &-center
          a
            display: flex
            width: 100%
            height: 100%
            img
              width: 100%
          margin: 20px 0
  .header
    &-nav
      &-top
        nav
          flex-direction: column
          padding-bottom: 20px
  .new
    flex-wrap: wrap
    &-left
      max-width: 100%
      div.title
        text-align: center
      &-wrap
        div.slick-track
          a
            display: flex
            align-items: center
            justify-content: center
    &-right
      max-width: 100%
      width: 100%
      div.title
        text-align: center
        margin-top: 40px
  .features-wrap-item
    p
      font-size: 12px
  .blog-wrap-wrapper
    flex-wrap: wrap
    justify-content: space-around
    &-item
      flex-basis: 48%
      margin-top: 20px
  .news-wrap-wrapper
    flex-wrap: wrap
    justify-content: space-around
    &-item
      flex-basis: 48%
      margin-top: 20px
  .chebox-wrap
    flex-wrap: wrap
    &-left
      flex-basis: 100%
    &-right
      flex-basis: 100%
      margin-top: 30px